:ruby
  add_breadcrumb t('view.admin.breadcrumbs.seasons.index')

.admin-list_container
  .admin-list-container__header
    .admin-list-navigation
      .admin-list-navigation__search
        = form_with url: admin_seasons_path, method: :get, local: true do |form|
          .admin-list-search
            .admin-list-search__input
              = form.text_field :search, value: params[:search], placeholder: t('view.admin.placeholder.search'),
                                         class: 'admin-list-search-input'
            .admin-list-search__submit
              = form.submit t('view.admin.button.search'), name: '', class: 'admin-list-search-submit'
      .admin-list-navigation__actions
        .admin-list-navigation-actions
          .admin-list-navigation-actions__action
            = link_to t('view.admin.button.new'), new_admin_season_path,
                      class: 'admin-list-navigation-action_button'
  .admin-list_container__main
    %table.admin-list
      %thead.admin-list__header.admin-list-header
        %tr.admin-list-row
          %th.admin-list-cell.is-header
            = Season.human_attribute_name :universal_id
          %th.admin-list-cell.is-header
            = Season.human_attribute_name :full_name
          %th.admin-list-cell.is-header
            = Season.human_attribute_name :short_name
      %tbody.admin-list__body.admin-list-body
        - @seasons.each do |season|
          %tr.admin-list-row{ data: list_data_attributes(href: admin_season_path(season)) }
            %td.admin-list-cell
              .admin-list-cell-with-icon
                = image_tag 'icon-rotate.png', class: 'admin-list-cell-with-icon__icon'
                .admin-list-cell-with-icon__text
                  = season.universal_id
            %td.admin-list-cell
              = season.full_name
            %td.admin-list-cell
              = season.short_name
  .admin-list_container__pagination
    = paginate @seasons, views_prefix: 'admin'
