:ruby
  add_breadcrumb t('view.admin.breadcrumbs.administrators.index'), admin_administrators_path
  add_breadcrumb @administrator.name

.admin-content
  .admin-content__title
    .admin-title
      .admin-title__image
        = image_tag 'icon-administrator.png', class: 'admin-title-image'
      .admin-title__text
        %h1.admin-title_text
          = @administrator.name
      .admin-title__actions
        .admin-title-actions
          .admin-title-actions__action
            = link_to t('view.admin.button.edit'), edit_admin_administrator_path(@administrator),
                      class: 'admin-title-action_button'
          .admin-title-actions__action
            = button_to t('view.admin.button.destroy'), admin_administrator_path(@administrator),
                        method: :delete, data: data_for_confirm(confirm_message: t('view.admin.confirm.destroy')),
                        class: 'admin-title-action_button'

  .admin-content__fields
    .admin-fields
      .admin-fields__field
        .admin-field
          .admin-field__label
            = Administrator.human_attribute_name(:name)
          .admin-field__value
            = @administrator.name
      .admin-fields__field
        .admin-field
          .admin-field__label
            = Administrator.human_attribute_name(:email)
          .admin-field__value
            = @administrator.email
