:ruby
  menus = [
    { icon: 'icon-stadium.png', label: '試合会場', path: admin_game_fields_path },
    { icon: 'icon-trophy.png', label: '大会', path: admin_tournaments_path },
    { icon: 'icon-team.png', label: 'チーム', path: admin_teams_path },
    { icon: 'icon-calendar.png', label: '試合', path: admin_game_schedules_path },
    { icon: 'icon-rotate.png', label: 'シーズン', path: admin_seasons_path },
    { icon: 'icon-newspaper.png', label: 'お知らせ', path: admin_notices_path },
    { icon: 'icon-setting.png', label: 'Webページ設定', path: admin_media_page_setting_path },
    { icon: 'icon-administrator.png', label: '管理者', path: admin_administrators_path }
  ]

.sidebar
  .sidebar__logo
    .sidebar-logo
      = image_tag 'logo.svg', alt: 'KCFF Match Hub'
  .sidebar__profile
    .sidebar-profile
      .sidebar-profile__image
        = image_tag 'icon-user.png'
      .sidebar-profile__main
        .sidebar-profile-main
          .sidebar-profile-main__name
            ID:
            = current_administrator.universal_id
          .sidebar-profile-main__email
            = current_administrator.email
  .sidebar__navigations
    .sidebar-navigations
      - menus.each do |item|
        .sidebar-navigations__item
          = link_to item[:path], class: 'sidebar-navigations-item' do
            .sidebar-navigations-item__icon
              = image_tag item[:icon]
            .sidebar-navigations-item__label
              = item[:label]
  .sidebar__logout
    .sidebar-logout
      = button_to 'ログアウト', admin_session_path, method: :delete, class: 'sidebar-logout-button'
