!!!
%html
  %head
    %title 管理画面 | KCFF Match Hub
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', 'data-turbo-track': 'reload'
  %body
    .application
      - if logged_in?
        .application__sidebar
          = render 'layouts/admin/sidebar'
      .application__main
        = yield
