!!!
%html
  %head
    %title 管理画面 | KCFF Match Hub
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body
    - if logged_in?
      .application
        .application__sidebar
          = render 'layouts/admin/sidebar'
        .application__main
          .application-main
            .application-main__breadcrumbs
              = render 'layouts/admin/breadcrumbs', breadcrumbs:
            .application-main__content
              = yield
    - else
      .application
        .application__main
          = yield
