!!!
%html
  %head
    %title
      = admin_page_title(content_for(:title))
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %meta{ name: 'robots', content: 'noindex, nofollow' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    %meta{ name: 'turbo-prefetch', content: 'true' }
    %meta{ name: 'view-transition', content: 'same-origin' }
  %body
    - if logged_in?
      .application
        .application__sidebar
          = render 'layouts/admin/sidebar'
        .application__main
          .application-main
            .application-main__breadcrumbs
              = render 'layouts/admin/breadcrumbs', breadcrumbs:
            .application-main__content
              = yield
    - else
      .application
        .application__main
          = yield
