!!!
%html
  %head
    %title KcffMatchHub
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/yakuhanjp@4.0.1/dist/css/yakuhanjp.css' }
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
  %body
    .application
      .application__header
        = render 'layouts/header'
      .application__mobile-navigation
        = render 'layouts/mobile_navigation'
      .application__main
        = yield
