= form_with model: notice, url:, local: true do |form|
  .admin-fields
    .admin-fields__field
      .admin-field
        .admin-field__label
          = Notice.human_attribute_name(:universal_id)
        .admin-field__value
          - if notice.persisted?
            = form.text_field :universal_id, class: 'admin-form-text_field', readonly: true
          - else
            = t('view.admin.supplement.universal_id_auto_generated')
    .admin-fields__field
      .admin-field
        .admin-field__label
          = Notice.human_attribute_name(:title)
        .admin-field__value
          = form.text_field :title, class: 'admin-form-text_field is-long', required: true
    .admin-fields__field
      .admin-field
        .admin-field__label
          = Notice.human_attribute_name(:content)
        .admin-field__value
          = form.text_area :content, class: 'admin-form-text_area is-long', required: true
    - if notice.errors.any?
      .admin-fields__field
        .admin-form-errors
          %ul.admin-form-error-list
            - notice.errors.full_messages.each do |message|
              %li.admin-form-error-list__item
                = message
    .admin-fields__field
      .admin-form-action_buttons
        .admin-form-action_buttons__action
          = form.submit t('view.admin.button.save'), class: 'admin-form-action_button'
        .admin-form-action_buttons__action
          = link_to t('view.admin.button.cancel'), cancel_path, class: 'admin-form-action_button is-cancel'
