.application-header
  .application-header__logo
    .application-header-logo
      = image_tag 'kcff-logo.png', alt: '関東学生フットボールクラブ連盟 公式サイト'
  .application-header__navigation
    .application-header-navigation
      .application-header-navigation__item
        = link_to 'お知らせ', '#', class: 'application-header-navigation-item'
      .application-header-navigation__item
        = link_to '日程・結果', '#', class: 'application-header-navigation-item'
      .application-header-navigation__item
        = link_to '所属チーム', teams_path, class: 'application-header-navigation-item'
      .application-header-navigation__item
        = link_to '試合会場', game_fields_path, class: 'application-header-navigation-item'
      .application-header-navigation__item
        = link_to '沿革', '#', class: 'application-header-navigation-item'
