.application-mobile-navigation
  .application-mobile-navigation__item
    = link_to notices_path, class: 'application-mobile-navigation-item' do
      .application-mobile-navigation-item__icon
        = image_tag 'icon-newspaper.png'
      .application-mobile-navigation-item__label
        お知らせ
  .application-mobile-navigation__item
    = link_to game_schedules_path, class: 'application-mobile-navigation-item' do
      .application-mobile-navigation-item__icon
        = image_tag 'icon-calendar.png'
      .application-mobile-navigation-item__label
        日程・結果
  .application-mobile-navigation__item
    = link_to teams_path, class: 'application-mobile-navigation-item' do
      .application-mobile-navigation-item__icon
        = image_tag 'icon-team.png'
      .application-mobile-navigation-item__label
        所属チーム
  .application-mobile-navigation__item
    = link_to game_fields_path, class: 'application-mobile-navigation-item' do
      .application-mobile-navigation-item__icon
        = image_tag 'icon-stadium.png'
      .application-mobile-navigation-item__label
        試合会場
