!!!
%html
  %head
    %title
      = media_page_title(content_for(:title))
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: 'stylesheet', href: 'https://cdn.jsdelivr.net/npm/yakuhanjp@4.0.1/dist/css/yakuhanjp.css' }
    = stylesheet_link_tag 'media', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    %meta{ name: 'turbo-prefetch', content: 'true' }
  %body
    .application
      .application__header
        = render 'layouts/media/header'
      .application__mobile-navigation
        = render 'layouts/media/mobile_navigation'
      .application__breadcrumbs
        = render 'layouts/media/breadcrumbs'
      .application__main
        = yield
      .application__footer
        = render 'layouts/media/footer'
